# Git and environments
.git
.github
venv/
env/
__pycache__/
*.pyc

# Ignore heavy raw data and transformation checkpoints
artifacts/data_ingestion/
artifacts/data_validation/
artifacts/data_transformation/

# DO NOT IGNORE artifacts/model_trainer/ 
# The container needs your fine-tuned model weights to run!

# Jupyter Notebooks and local logs
research/
*.ipynb
logs/